@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff7ed; /* Very Light Yellowed Paper */
  color: #787673; /* Soft Warm Gray (Faded Ink) */
  width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

button {
  background-color: #857f79; /* Muted Vintage Beige */
  color: #ffffff; /* Classic White */
}

button:hover {
  background-color: #504d4a; /* Muted Vintage Beige */
  color: #ffffff; /* Classic White */
}

a {
  color: #6a6662;
}

a:hover {
  color: #92875c;
}

.animatedButton {
  animation-duration: 20000ms;
}

.ql-container {
  border: none !important;
}

.ql-toolbar {
  border: none !important;
}

.ql-editor {
  border: none !important;
}